{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1 style="color:black">{% trans "The best place to buy fresh tree tomato products" context "Homepage title" %}</h1>
                  <h2 style="color:grey">{% trans "in the KE" context "Homepage title" %}</h2>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "category/_items.html" %}
        </div>
      </div>
    </div>

{% endblock %}
